/*! blogs start  */
.blogs {
    margin-bottom: 30px;
  }
  
  .blogs .blog-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .section-title{
    text-align: center;
  }

  .blogs::after,
  .blogs::before {
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}

.blogs::after{
  top: -3rem;
  left: -5rem;
}

.blogs::before{
  bottom: 2rem;
  right: 0rem;
}


  /*! blogs end  */